<div class="container-anagrafica-v2">
    <div class="container-immagine">
        <img class="circular-image" src="/assets/img/1.jpg" alt="image">
    </div>
    <div class="info-utente">
        <div>
            <p class="p1">{{ nome }}</p>
        </div>
        <div class="id-nsg">
            <div class="id">
                <p class="p3">ID:</p><p class="p2"><b>{{ ID }}</b></p>
            </div>
            <div class="nsg">
                <p class="p3">NSG:</p><p class="p2"><b>{{ NSG }}</b></p>
            </div>
        </div> 
        <div class="container-tipo-cliente">
            <div class="tipo-cliente">Cliente <b>Affluent</b></div>
            <div class="anagrafica-details">Anagrafica ></div>
        </div>
        <div class="container-info-cliente">
            <div class="info-cliente">
                <div class="cointestazione"><p class="p4">COINTESTAZIONE <br> E DELEGHE</p></div>
                <div class="aziende"><p class="p5">AZIENDE</p></div>
            </div>
        </div>
        <div class="container-filiale">
            <div class="filiale">Filiale <br><b>Via Quarenghi, Milano IT</b></div>
        </div>
        <div class="container-gestore">
            <div class="gestore">Gestore <br><b>Emiliano Casetti </b></div>
        </div>
        <div class="container-note-cliente">
            <div class="note-cliente">Note Cliente ></div><br>
            <div class="vista-cliente"><b>Vista Cliente</b></div>
        </div>
    </div>
</div>
