.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;  
}

.container-search{
    display: flex;
    margin-top: 5%;
    height: 10%;
}   



.container-search-half-left{
    flex-direction: column;
    width: 50%;
}

.search{
    height: 50%;
}

.description-search{
    height: 30%;
}

.description{
    margin-left: 74%;
    font-size: 70%;
}

#search-bar{
    float: right;
}
.container-search-half-right{
    width: 50%;
}

.cerca{
    margin-top: 3.2%;
    margin-left: 2%;
    width: 7%;
    color: white;
    font-size: 70%;
    border-radius: 7px;
}

.container-sport{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sport{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20%;
    border-bottom: 2px solid rgba(0,0,0,0.5);

}

.cerca{
    background-color: blue;
}

.image-sport{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
    align-items: center;
}

.description-sport{
    width: 70%;
}

.title-sport{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
}

.text-sport{
    margin-top: 3%;
    height: 50%;
    font-size: 70%;
}

.image{
    width: 70%;
}

