<div class="container">
    <div class="container-search">
      <div class="container-search-half-left">
        <div class="description-search">
          <div class="description">Scegli uno sport</div>
        </div>
        <div class="search">
          <input type="text" id="search-bar" [(ngModel)]="title" (input)="cerca()"> 
        </div>
      </div>
      <div class="container-search-half-right">
        <button class="cerca">Cerca</button>
      </div>
    </div>
    <div class="container-sport" *ngFor="let sport of sports">
      <div class="container-image">
        <div><img class="image" src={{sport.base64_image}}></div>
      </div>
      <div class="container-description">
        <div class="container-title">
          <div class="title"><b>{{sport.title}}</b></div>
        </div>
        <div class="container-text">
          <div class="text">{{sport.text}}</div>
        </div>
      </div>
    </div>
</div>



<!--
<div *ngFor="let element of sports">
  <p> {{element.title}}</p>
</div>  
-->