.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;  
}

.container-search{
    display: flex;
    margin-top: 5%;
    height: 10%;
}   



.container-search-half-left{
    flex-direction: column;
    width: 50%;
}

.search{
    height: 50%;
}

.description-search{
    height: 30%;
}

.description{
    margin-left: 74%;
    font-size: 70%;
}

#search-bar{
    float: right;
}
.container-search-half-right{
    width: 50%;
}

.cerca{
    margin-top: 3.2%;
    margin-left: 2%;
    width: 7%;
    background-color: blue;
    color: white;
    font-size: 70%;
    border-radius: 7px;
}

.container-sport{
    margin-top: 5%;
    display: flex;
    margin-left: 22%;
    width: 70%;
    height: 15%;
}

.container-image{
    width: 15%;
}

.container-description{
    width: 85%;
}

.container-title{
    height: 50%;
}

.container-text{
    height: 50%;
}

.image{
    margin-left: 20%;
    width: 60%;
}

.title{
    margin-top: 2%;
}

.text{
    margin-top: -3%;
    font-size: 70%;
}