<div class="container-tabella">
    <table>
      <tr>
        <th *ngFor = "let column of headers">
          {{column}}
        </th>
      </tr>
      <tr *ngFor = "let row of rows">
        <td *ngFor = "let column of indexHeaders">
          {{row[column]}}
        </td>
      </tr>
    </table>

    
    <div class="container-menu" >
      <ng-container >
        <div class="arrow" (click)="goBack()"><</div>
        <div *ngFor = "let m of menu; let i = index" 
          [ngClass]="{'currentPage': i === currentPage}" (click)="onSelect(m)">
            &nbsp;&nbsp; {{m}} &nbsp;&nbsp; 
        </div>
        <div class="arrow" (click)="goForward()">></div>
      </ng-container>
    </div>

</div>

<!--{{data[0].nominativoCliente}}-->