<div class="container">
  <div class="container-form">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" >
      <div class="filter">
        <label for="nominativo">Nominativo: </label>
        <input id="nominativo" type="text" formControlName="nominativo">
      </div>  
      <div class="filter">
        <label for="ndgMin">NDG Min: </label>
        <input id="ndgMin" type="number" formControlName="ndgMin">
      </div>
      <div class="filter">
        <label for="ndgMax">NDG Max: </label>
        <input id="ndgMax" type="number" formControlName="ndgMax">
      </div>
      <div class="filter">
        <label for="businessUnitMin">Business Unit Min: </label>
        <input id="businessUnitMin" type="number" formControlName="businessUnitMin">
      </div>
      <div class="filter">
        <label for="businessUnitMax">Business Unit Max: </label>
        <input id="businessUnitMax" type="number" formControlName="businessUnitMax">
      </div>
      <div class="filter">
        <label for="ctvAmministrativoMin">CTV Amministrativo Min: </label>
        <input id="ctvAmministrativoMin" type="number" formControlName="ctvAmministrativoMin">
      </div>
      <div class="filter">
        <label for="ctvAmministrativoMax">CTV Amministrativo Max: </label>
        <input id="ctvAmministrativoMax" type="number" formControlName="ctvAmministrativoMax">
      </div>
      <div class="filter">
        <label for="ctvAssicuratoMin">CTV Assicurato Min:</label>
        <input id="ctvAssicuratoMin" type="number" formControlName="ctvAssicuratoMin">
      </div>
      <div class="filter">
        <label for="ctvAssicuratMax">CTV Assicurato Max: </label>
        <input id="ctvAssicuratoMax" type="number" formControlName="ctvAssicuratoMax">
      </div>
      <div class="filter">
        <label for="ctvDirettoMin">CTV Diretto Min:</label>
        <input id="ctvDirettoMin" type="number" formControlName="ctvDirettoMin">
      </div>
      <div class="filter"> 
        <label for="ctvDirettoMax">CTV Diretto Max: </label>
        <input id="ctvDirettoMax" type="number" formControlName="ctvDirettoMax">
      </div>
      <div class="filter">
        <label for="ctvGestitoMin">CTV Gestito Min:</label>
        <input id="ctvGestitoMin" type="number" formControlName="ctvGestitoMin">
      </div>
      <div class="filter">
        <label for="ctvGestitoMax">CTV Gestito Max: </label>
        <input id="ctvGestitoMax" type="number" formControlName="ctvGestitoMax">
      </div>
      <div class="filter">
        <label for="ctvTotaleMin">CTV Totale Min:</label>
        <input id="ctvTotaleMin" type="number" formControlName="ctvTotaleMin">
      </div> 
      <div class="filter"> 
        <label for="ctvTotaleMax">CTV Totale Max: </label>
        <input id="ctvTotaleMax" type="number" formControlName="ctvTotaleMax">
      </div>
      <div class="filter"> 
        <label for="numElem">Numero di elementi per riga: </label>
        <input id="numElem" type="number" formControlName="numElem">
      </div>
      <button class="button-form">Filter</button>
      <button class="button-form" (click)="clear()">Clear</button>
      <button class="button-form-mat" mat-button (click)="aggiungiRiga()">Aggiungi riga</button>
    </form>
  </div>


  <div class="container-tabella">
    <table id="customers">
      <ng-container>
        <tr>
          <th *ngFor = "let column of headers"
           [ngClass]="{'orderColumnCrescente': 1 === orderColumnFlag}" 
           [ngClass]="{'orderColumnDecrescente': 2 === orderColumnFlag}" 
           (click)="ordina(column)">
            {{column}}
            <img class="imageUp" src="..\assets\up.jpg">
            <img class="imageDown" src="..\assets\down.png">
          </th>
        </tr>
        <tr *ngFor = "let row of rows">
          <td *ngFor = "let column of indexHeaders; let i = index">
            {{row[column]}}
            <ng-template [ngIf]="i === 8">
              <div class="azioni-si" *ngFor = "let lista of [0]">
                <button class="button-elimina" (click)="eliminaRiga(row)">Elimina</button>
                <button>Modifica</button>
              </div>
            </ng-template>
          </td>
        </tr>
      </ng-container>
    </table>

    
    <div class="container-menu" >
      <ng-container >
        <div class="arrow" (click)="goBack()"><</div>
        <div *ngFor = "let m of menu; let i = index" 
          [ngClass]="{'currentPage': i === currentPage}"
          (click)="onSelect(m)">
            &nbsp;&nbsp; {{m}} &nbsp;&nbsp; 
        </div>
        <div class="arrow" (click)="goForward()">></div>
      </ng-container>
    </div>
  </div>
</div>

