.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #e3f3e4;
}

.container-filter{
    
    width: 80%;
    height: 80%;
    border: 2px solid green;
    
}


.container-tabella{
    border:     none;
}

.container-form{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    background-color: #d0fae6;
    border-radius: 5px;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 16px;
}

.container-button{
    display: flex;
    justify-content: space-evenly;
}

table, th , td {
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
    border: green;
  }
  
.imageUp{
    display: none;
}

.imageDown{
    display: none;
}

.orderColumnCrescente{

    .imageUp{
        display: inline;
        width: 10%;
    }
    
}

.orderColumnDecrescente{

    .imageDown{
        display: inline;
        width: 10%;
    }
}

.container-menu{
    display: flex;
    
    justify-content: center;
    margin-top: 30px;
    height: 10%;
    width: 100%;
}

.currentPage{
    font-weight: 900;
}



.azioni-si{
    display: flex;
    flex-direction: column;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  
  #customers td, #customers th {
    border: 2px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color:  #d0fae6;}
  
  #customers tr:hover {background-color: #b3d8c7;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border: 2px solid green;
  }

  #customers td {
    border: 2px solid black;
  }

.button-form {
    background-color: #04AA6D;;
    border: 2px solid green;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-elimina{
    background-color: #04AA6D;;
    border: 2px solid green;
    border-radius: 5px;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4x 2px;
    cursor: pointer;
}


.button-form-mat {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #04AA6D;
    border: 2px solid green;
    color: white;
    border-radius: 5px;
   
}

.button-elimina-mat {
    background-color: #04AA6D;
    border: 2px solid green;
    color: white;
    border-radius: 5px;
}

  