<div class="home-container">
    <div class="widget-container">
        <div class="anagrafica-container">
            <app-anagrafica></app-anagrafica>
        </div>
        <div class="right-side-container">
            <div class="quick-profile-container">
                <app-quick-profile></app-quick-profile>
            </div>
            <div class="right-bottom-side-container">
                <div class="attivita-container">
                    <app-attivita></app-attivita>
                </div>
                <div class="indicatori-container">
                    <app-indicatori></app-indicatori>
                </div>
            </div>
        </div>
    </div>
</div>