<div class="home">
    <div class="parte1">
       <app-anagrafica-v2 class="anagrafica-v2"></app-anagrafica-v2>
       <!--<app-quick-profile class="quick-profile"></app-quick-profile>--> 
    </div>
    <div class="parte2">
        <div class="parte2_1">
            <app-quick-profile class="quick-profile"></app-quick-profile>
        </div>
        <div class="parte2_2">
            <div class="parte2_2_1">
                <app-attivita class="attivita"></app-attivita>
            </div>
            <div class="parte2_2_2">
                <app-indicatori class="indicatori"></app-indicatori>
            </div>
        </div>
    </div>

</div>