<div mat-dialog-content>Aggiungi nuova riga:</div>
<div mat-dialog-actions>
    <form [formGroup]="addRow" (ngSubmit)="onSubmit()" >
        <div class="form">
            <label for="newNominativoCliente">Nominativo: </label>
            <input id="newNominativoCliente" type="text" [(ngModel)]="newNominativoCliente"
                formControlName="newNominativoCliente" required minlength="3" maxlength="15">
        </div>
        <div class="form">
            <label for="newNdgCliente">NDG: </label>
            <input id="newNdgCliente" type="number" [(ngModel)]="newNdgCliente"
                formControlName="newNdgCliente" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newBusinessUnit">Business Unit: </label>
            <input id="newBusinessUnit" type="number" [(ngModel)]="newBusinessUnit"
                formControlName="newBusinessUnit" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newCtvGestito">CTV Gestito: </label>
            <input id="newCtvGestito" type="number" [(ngModel)]="newCtvGestito"
                formControlName="newCtvGestito" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newCtvAmministrato">CTV Amministrato: </label>
            <input id="newCtvAmministrato" type="number" [(ngModel)]="newCtvAmministrato"
                formControlName="newCtvAmministrato" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newCtvAssicurativo">CTV Assicurato: </label>
            <input id="newCtvAssicurativo" type="number" [(ngModel)]="newCtvAssicurativo"
                formControlName="newCtvAssicurativo" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newCtvDiretto">CTV Diretto: </label>
            <input id="newCtvDiretto" type="number" [(ngModel)]="newCtvDiretto"
                formControlName="newCtvDiretto" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newCtvTotale: ">CTV Totale: </label>
            <input id="newCtvTotale" type="number" [(ngModel)]="newCtvTotale"
                formControlName="newCtvTotale" required min="0" max="9999999999">
        </div>
        <div class="form">
            <label for="newListaAzioni">newListaAzioni: </label>
            <input id="newListaAzioni" type="text" formControlName="newListaAzioni">
        </div>
        <div>
            <button mat-button [mat-dialog-close]=addRow.value class="btn btn-primary" 
            [disabled]="newNominativoCliente === '' || newNdgCliente === '' || newBusinessUnit === '' 
            || newCtvGestito === '' || newCtvAmministrato === '' || newCtvAssicurativo === ''
            || newCtvDiretto === '' || newCtvTotale === '' " >
                Add Row
            </button>
            <button mat-button mat-dialog-close="false">Annulla</button>
        </div>
    </form>  
</div>
