.form {
    display: flex   ;
    justify-content: space-between;
}
input:invalid {
    border: 2px solid red;
    border-radius: 4px;
  }
  
input:valid {
    border: 2px solid black;
    border-radius: 4px;
}